.description-list__term,
.description-list__text {
	font-family: var(--font-body-primary);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5em;
}

.description-list__term {
	color: var(--color-text-secondary);
}

.description-list__definition {
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 4px;
	margin: 4px 0 0;
}

.description-list__item:not(:last-child) {
	border-bottom: 1px solid var(--color-border-primary);
}

.description-list__sub-list {
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 2px;
	row-gap: 2px;
	padding-left: 18px;
	margin: 0;
}

.description-list__text {
	margin: 0;

	color: var(--color-text-primary);
}

.description-list__content-container {
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 4px;
	row-gap: 4px;
}

.description-list__content-container > * {
	width: 100%;
	margin: 0;
}

.description-list__content-container > table {
	margin-top: 12px;
}

@media (max-width: 599px) {
	.description-list__item:not(:last-child) {
		padding-bottom: 8px;
	}

	.description-list__item:not(:first-child) {
		padding-top: 8px;
	}

	.description-list__content-container > table {
		margin-bottom: 16px;
	}
}

@media (min-width: 600px) and (max-width: 1199px) {
	.description-list__item:not(:last-child) {
		padding-bottom: 10px;
	}

	.description-list__item:not(:first-child) {
		padding-top: 10px;
	}

	.description-list__content-container > table {
		margin-bottom: 20px;
	}
}

@media (min-width: 1200px) {
	.description-list__item:not(:last-child) {
		padding-bottom: 12px;
	}

	.description-list__item:not(:first-child) {
		padding-top: 12px;
	}

	.description-list__content-container > table {
		margin-bottom: 24px;
	}
}
